<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <h1>Post-Cyclone Ita benthic mapping project</h1>
    
    <p>22/04/2014 - 30/04/2014</p>
    <p><strong>Field team:</strong></p>
    <ul>
    <li>Joshua Madin</li>
    <li>Oscar Pizzaro</li>
    <li>Ariell Friedman</li>
    <li>Thomas Bridge</li>
    </ul>

    <p><strong>Aim:</strong></p>
    <p>Post-cyclone mapping. Focus on trimodal, but also to map other exposed and sheltered locations (5x5m?). Redo Andrew Baird's LIT from 2011. *Trimodal was largely undamaged, and so new aim was to map 20 locations around the island, and fill in if enough time.</p>

    <p><strong>Todo:</strong></p>
    <ul>
      <li>Ariell doing rugosity measurements</li>
      <li>Josh to outline damage areas and id colonies for CSF estimates</li>
      <li>Quick look at Andrew&rsquo;s LIT comparisions</li>
    </ul>

    <h3>Day 1 (Tuesday 22/04/2014) &ndash; travel</h3>
    <p>Arrive at station at 5pm</p>

    <h3>Day 2 (23)</h3>
    <h4><em>Morning</em></h4>
    <p>Tom and Josh put in posts from starting from robusta transect end</p>

    <p>Methods: 10m over flat and 5m over slope, to capture crest and two different habitats, but to enable focus on homogeneous flat habitat. Stakes marking start of transect approximately 1m before the first robusta in the robusta transect (AR1117).</p>

    <p>Starting posts (2 posts) left for next trip in November</p>

    <h4><em>Afternoon</em></h4>
    <p>First chunk of trimodal map</p>

    <p>Trimodal has very little damage from cyclone. Re-thinking how to optimize the trip. Proposing a series of benthic maps circumnavigating Lizard Island (n~20) in order to view gradient of damage as cyclone passed. &nbsp;Concerned about replication of maps, but map size should be sufficient to capture more than standard line intercept transect techniques. If time, will revisit some/all locations and do second map.</p>

    <ul>
      <li>AB: Andrew Baird 2011 transect site (6x10m LIT)</li>
      <li>TD: Terry Done permanent plot site (4x8m photo-belt)</li>
    </ul>

    <h3>Day 3 (24)</h3>
    <h4><em>Morning</em></h4>
    <ul>
      <li>Horseshoe (AB) - too shallow and will need to be redone. &nbsp;Some damage, mostly staghorns.</li>
      <li>Vicki's - big colonies overturned from after cyclone passed and NW winds crept around back of island.</li>
    </ul>
    <p><%= image_tag "image00.png", height: '250' %></p>

    <p><strong>Methods:</strong></p>
    <p>series of 6m radius "crop" circles, capturing ~113 m^2 area at 20 locations around the island. This will allow for an at least 100m^2 plot consistently and for edge error.</p>

    <h4><em>Afternoon</em></h4>
    <ul>
      <li>North reef 1 (AB, TD5) &ndash; north side</li>
      <li>North reef 2 (AB, TD5) &ndash; slightly further west along edge</li>
      <li>North reef 3 (TB3) &ndash; in towards Mermaid Cove (cove side of lone rock)</li>
      <li>Horseshoe (AB) &ndash; redid on way back to station, because to shallow in morning and cracks in map</li>
    </ul>
    <p><%= image_tag "image01.png", height: '250' %></p>

    <h3>Day 4 (25)</h3>
    <h4><em>Morning</em> (wind is low, tide early)</h4>
    <ul>
      <li>South Island (JSM)</li>
      <li>Southeast Reef &ndash; looking for TD old site, not found</li>
      <li>Lizard Head &ndash; Tide too low, but tried tighter spirals</li>
    </ul>
    <p><%= image_tag "image02.png", height: '250' %></p>
    <h4><em>Afternoon</em> (wind is low)</h4>
    <ul>
      <li>Easter Point &ndash; No name point, but Easter Island looking monoliths on ridge</li>
      <li>Lizard Head (AB)</li>
      <li>Southeast Reef 1 (TD) &ndash; Still couldn&rsquo;t find TD site, so one site choosen at crest</li>
      <li>Southeast Reef 2 &ndash; Back from crest &ldquo;graveyard&rdquo;</li>
    </ul>
    <p><%= image_tag "image03.png", height: '250' %></p>

    <h3>Day 5 (26)</h3>
    <h4><em>Morning</em> (wind back up&hellip;)</h4>
    <ul>
      <li>Washing machine &ndash; too rough</li>
      <li>Turtle Beach &ndash; East side</li>
      <li>Cooks Path Reef &ndash; at end of large rock on hillside (not down near path)</li>
      <li>Resort &ndash; second reef off ridge between resort and Watsons Beach</li>
    </ul>
    <p><%= image_tag "image04.png", height: '250' %></p>

    <h3>Day 6 (27)</h3>
    <h4><em>Morning</em></h4>
    <ul>
      <li>Lagoon site 1 (AB) &ndash; murky but okay</li>
      <li>Lagoon site 2 (AB) &ndash; very wavy, but okay</li>
      <li>Trimodal old map? &ndash; too wavy</li>
      <li>Trimodal (AB) &ndash; too wavy</li>
    </ul>
    <p><%= image_tag "image05.png", height: '250' %></p>

    <h3>Day 7 (28)</h3>
    <h4><em>Morning</em></h4>
    <ul>
      <li>Washing Machine &ndash; I think. &nbsp;Furthest of two humps, two-thirds down to the east.</li>
      <li>Gnarly Tree &ndash; </li>
      <li>North of Paradise &ndash; </li>
      <li>No Mans Land &ndash; </li>
      <li>Osprey &ndash; A lot of damage.</li>
    </ul>
    <p><%= image_tag "image06.png", height: '250' %></p>

    <h3>Day 8 (29)</h3>
    <h4><em>Morning</em></h4>
    <ul>
      <li>Trimodal map and trimodal LIT</p>
    </ul>

    <h3>Day 9 (30)</h3>
    <h4><em>Morning</em> (Wednesday 30/04/2014)</h4>
    <ul>
      <li>Corner Reef &ndash; not very well consolidated</li>
      <li>Horseshoe 2 &ndash; two new spirals of the same place,</li>
    </ul>
    <p><%= image_tag "image07.png", height: '250' %></p>
    <h4><em>Afternoon</em></h4>
    <ul>
      <li>Plane to Cairns</li>
    </ul>
    <p><%= image_tag "image08.png", height: '250' %></p>

    <h3>LITs</h3>
    <ul>
      <li>Horseshoe</li>
      <li>Lagoon 1</li>
      <li>Lagoon 2</li>
      <li>Trimodal</li>
      <li>North Reef</li>
      <li>Lizard Head1</li>
    </ul>

    <h3>Summary</h3>
    <p>A busy trip that evolved from running a mega-plot at Trimodal for Maria&rsquo;s project (because we thought there&rsquo;d be lots of damage), to developing a method of rapidly sampling cyclone damage around Lizard Island. &nbsp;We ran 22 spiral benthic maps around the island. &nbsp;One spiral capture approximately 128 m^2. &nbsp;There are some edge effects, and it&rsquo;ll be hard to re-capture exactly in subsequent years; so probably 100m^2 useful for long-term projects.</p>

    <p>The cyclone appears to have approached the island from the east, influencing the SE and NE sides, and then curve around to the south as it made landfall at Cape Flattery, and therefore influencing the North a lot and NW to some degree. &nbsp;Therefore we have usually exposed sites that were both exposed and not much exposed the cyclone, and similarly for usually sheltered locations, allowing for a spatial contrast (given that our pre-cyclone data is limited). &nbsp;As far as pre-cyclone data, we have Andrew Baird LIT from late 2011. &nbsp;We ran spirals at each of Andrew&rsquo;s sites as well as re-did LITs. &nbsp;</p>

    <p>It was very difficult to see cyclone damage, only 1.5 weeks after it past, given that most rubble was removed form the reef in exposed locations, and algae has grown rapidly over the reef hiding evidence of breakage. &nbsp;We will likely reply heavily on Andrew&rsquo;s LIT to ground-truth our interpretations. &nbsp;</p>

    <p>As far as Trimodal, we collected a largish map chunk at the start of the robusta transect. &nbsp;I then swam all trasects with the rig in an attempt to map all tagged colonies. &nbsp;It was very difficult to see all tagged colonies and so it&rsquo;s unlikely this was 100% successful, but will hopefully help us in November. &nbsp;I almost got about half way along trimodal photographing and categorizing damage. &nbsp;This wasn&rsquo;t completed in leiu of getting the trimodal map.</p>
  </div>
</div>
