<div class="row">
  <div class="col-md-1"><%= outline.id %></div>
  <div class="col-md-2"><%= outline.substrate_type %></div>
  <div class="col-md-2"><%= outline.substrate_state %></div>
  <div class="col-md-2"><%= outline.outline_filename %></div>
  <div class="col-md-2"><%= outline.outline_notes %></div>
  <div class="col-md-3">
    <div class="btn-group">
      <%= link_to 'Show', map_outline_path(outline.map, outline), class: "btn btn-default" %>
      <%= link_to 'Edit', edit_map_outline_path(outline.map, outline), class: "btn btn-default" %>
    </div>
    <%= link_to 'X', map_outline_path(outline.map, outline), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-danger" %>
  </div>
  <hr/>
</div>
