<%= form_for(@map) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if params[:trip_id] %>
    <%= hidden_field_tag :trip_back, params[:trip_id] %>
  <% elsif params[:location_id] %>
    <%= hidden_field_tag :location_back, params[:location_id] %>
  <% end %>

  <div class="form-group">
    <%= f.label :map_name %><br>
    <%= f.text_field :map_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.select :location_id, Location.all.map { |u| [u.location_name, u.id] }, {:selected => params[:location_id]}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.select :trip_id, Trip.all.map { |u| [u.trip_name, u.id] }, {:selected => params[:trip_id]}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :map_code %><br>
    <%= f.text_field :map_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pixel_size %><br>
    <%= f.text_field :pixel_size, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :map_description %><br>
    <%= f.text_area :map_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :map_date %><br>
    <%= f.date_select :map_date, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-sm btn-primary" %>
<% end %>
