<div class="row">
  <div class="col-sm-4">
    <% if params[:trip_id] %>
      <%= render "shared/trips" %>
    <% end %>

    <% if params[:location_id] %>
      <%= render "shared/locations" %>
    <% end %>
  </div>
  <div class="col-sm-4">
  
    <% if params[:trip_id] %>
      <%= render "shared/trip" %>
    <% end %>

    <% if params[:location_id] %>
      <%= render "shared/location" %>
    <% end %>

    <%= render "shared/maps" %>
  </div>
  <div class="col-sm-4">
    <%= render "shared/map" %>
  </div>
</div>
