<h3>Maps</h3>

<% if signed_in? and current_user.admin? %>
  <% if params[:controller] == "locations" or params[:location_id] %>
    <p><%= link_to 'New Map', new_location_map_path(:location_id => @location.id), class: "btn btn-sm btn-default" %></p>
  <% elsif params[:controller] == "trips" or params[:trip_id] %>
    <p><%= link_to 'New Map', new_trip_map_path(:trip_id => @trip.id), class: "btn btn-sm btn-default" %></p>
  <% else %>
    <p><%= link_to 'New Map', new_map_path, class: "btn btn-sm btn-default" %></p>
  <% end %>
<% end %>

<ul class="list-group">
  <% @maps.each do |map| %>
    <% if params[:controller] == "maps" and params[:trip_id] %>
      <% if params[:action] == "show" and @map == map %>
        <%= link_to map.map_name, trip_path(:id => params[:trip_id]), class: "list-group-item active" %>
      <% else %>
        <%= link_to map.map_name, trip_map_path(:trip_id => params[:trip_id], :id => map.id), class: "list-group-item" %>
      <% end %>
    <% elsif params[:controller] == "maps" and params[:location_id] %>
      <% if @map == map %>
        <%= link_to map.map_name, location_path(:id => params[:location_id]), class: "list-group-item active" %>
      <% else %>
        <%= link_to map.map_name, location_map_path(:location_id => params[:location_id], :id => map.id), class: "list-group-item" %>
      <% end %>
    <% end %>

    <% if params[:controller] == "trips" %>
      <% if params[:action] == "show" and @map == map %>
        <%= link_to map.map_name, maps_path, class: "list-group-item active" %>
      <% else %>
        <%= link_to map.map_name, trip_map_path(:trip_id => @trip, :id => map.id), class: "list-group-item" %>
      <% end %>
    <% end %>

    <% if params[:controller] == "locations" %>
      <% if params[:action] == "show" and @map == map %>
        <%= link_to map.map_name, maps_path, class: "list-group-item active" %>
      <% else %>
        <%= link_to map.map_name, location_map_path(:location_id => @location, :id => map.id), class: "list-group-item" %>
      <% end %>
    <% end %>
  <% end %>
</ul>

